
<div class="logo-container">
  <img src="./assets/images/logo.png" width="150" />
</div>

<div class="container">
  <div class="card" style="width: 23rem;">
    <div class="card-body">
      <h3 class="card-title text-center">Ingrese un número</h3>
      <p class="card-text text-center">Este número será el término de la sucesión fibonacci que se mostrará en pantalla</p>
      <form ngNativeValidate [formGroup]="form" (submit)="send()" autocomplete="off">
        <input type="number" class="text-input form-control text-center" formControlName="number" />
        <button type="submit" [disabled]="loading || form.invalid" class="btn btn-primary send-button">
          <a *ngIf="!loading">Mostrar resultado</a>
          <a *ngIf="loading"><i class="fas fa-spinner fa-spin"></i> Procesando...</a>
        </button>
      </form>
    </div>
  </div>
</div>