.container {
    margin-top: 30px;
}

.card {
    margin: auto;
}

.text-input {
    width: 100px;
    margin: auto;
}

.logo-container {
    width: 100%;
    text-align: center;
}

.send-button {
    margin-top: 30px;
    width: 100%;
}